html,body{
    width:100%;
    height:100%;
    margin:0;
    font-family: monospace;
}
.container{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    margin: 10px;
    padding: 20px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
}

#SaveImage{
    opacity:0;
    position: absolute;
}